.links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 8px;
  padding-top: 48px;
  padding-bottom: 100px;
background-color: var(--gradient-color);
  
}
.links ul {
  backdrop-filter: blur(65.3px);
  -webkit-backdrop-filter: blur(65.3px);
  display: flex;
  border-radius: 64px;
 
}
.links ul li {
  padding: 12px 22px;
}
