.optimize {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
  gap: 30px;
}
.box1 {
  padding-top: 37px;
  background-color: var(--graph1-color);
  border-radius: 30px;
}
.box1 .box1Content {
  margin-left: 37px;
  margin-right: 38px;
}
.box1 .box1Content h2 {
  /* width: 538px; */
  color: var(--graph1H2-color);
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

.box1 .box1Content p {
  color: var(--graph1Paragraph-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
}
.box2 {
  padding: 48px 52px;
  background-color: var(--graph1-color);
  border-radius: 30px;
}
.box2 h2 {
  color: var(--graph1H2-color);
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 72px;
  /* width: 541px; */
  margin-bottom: 25px;
}
.box2 p {
  color: var(--graph1Paragraph-color);
  letter-spacing: 0;
  line-height: 36px;
  font-weight: 400;
  /* width: 631px; */
  font-size: 22px;
  margin-bottom: 63px;
  
}

.box2 button{
  width: 200px;
  border: none;
}

.invoce{
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding-inline: 25px;
  gap: 15px;
}
.inv1 {
  background-color: var( --invokeBg-color);
  padding-left: 27px;
  padding-right: 37px;
  padding-top: 27px;
  border-radius: 10px;
}
.inv1 h2{
  margin-bottom: 22px;
  color: var(--balanceBtnBg-color);
}
.spans{
  padding-top: 27px;
  padding-bottom: 23px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-top: 1px solid;
}
.spans div{
width: 100%;
height: 10px;
background-color: var(--skelton22-Color);
border-radius: 100px;
}
.spans div:nth-child(3){
  width: 60%;
}

.inv2{
  background-color: var( --invokeBg-color);
  padding: 19px 21px;
  border-radius: 10px;
  color: var(--balanceBtnBg-color);
}
.inv2 h2{
  margin-bottom: 21px;
  font-size: 16px;
  font-weight: 400;
}
.files{
  display: grid;
  gap: 21px;
}
.file .svg1{
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #FBADE0;
}
.file .svg2{
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #6893FF;
}
.file .svg3{
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #DFFF9D;
}
svg{
  width: 19px;
  height: 19px;
}
.file{
  display: flex;
  gap: 5px;
  align-items: center;
}
.file .content{
  flex: 1;
  font-size: 14px;
}
.fileSkelton{
  margin-top: 10px;
  height: 8px;
  border-radius: 100px;
  background-color: var(--skelton22-Color);
  width: 100%;
}
@media (max-width: 1600px) {
  .optimize {
    gap: 25px;
  }
  .box1 {
    padding-top: 30px;
  }
  .box1 .box1Content {
    margin-left: 25px;
    margin-right: 25px;
  }
  .box1 .box1Content h2 {
    font-size: 24px;
  }
  .box1 .box1Content p {
    font-size: 18px;
    line-height: 32px;
  }
  .box2 {
    padding: 40px 40px;
  }
  .box2 h2 {
    font-size: 40px;
    line-height: 60px;
  }
  .box2 p {
    font-size: 20px;
    line-height: 32px;
  }
  .box2 button {
    width: 180px;
  }
}

@media (max-width: 1200px) {
  .optimize {
    grid-template-columns: 1fr; 
    gap: 20px;
  }
  .box1, .box2 {
    padding: 30px;
  }
  .box1 .box1Content h2 {
    font-size: 22px;
  }
  .box1 .box1Content p {
    font-size: 16px;
    line-height: 28px;
  }
  .box2 h2 {
    font-size: 32px;
    line-height: 48px;
  }
  .box2 p {
    font-size: 18px;
    line-height: 28px;
  }
  .box2 button {
    width: 160px;
  }
}

@media (max-width: 768px) {
  .optimize {
    gap: 15px;
  }
  .box1, .box2 {
    padding: 20px;
  }
  .box1 .box1Content h2 {
    font-size: 20px;
  }
  .box1 .box1Content p {
    font-size: 14px;
    line-height: 24px;
  }
  .box2 h2 {
    font-size: 28px;
    line-height: 40px;
  }
  .box2 p {
    font-size: 16px;
    line-height: 24px;
  }
  .box2 button {
    width: 250px;
  }
  .invoce{
    grid-template-columns: 1fr;
  }
}

