.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

/* Card */
.card {
  background-color: var(--product-bg);
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px var(--product-card-shadow);
  transition: transform 0.2s, background-color 0.3s, color 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* Image */
.image {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
}

/* Title */
.title {
  font-size: 1.1rem;
  color: var(--product-text);
  margin-bottom: 5px;
  font-weight: bold;
}

/* Price */
.price {
  font-size: 1rem;
  font-weight: bold;
  color: var(--product-price);
  margin-bottom: 5px;
}

/* Category */
.category {
  font-size: 0.9rem;
  color: var(--product-text-secondary);
  margin-bottom: 10px;
}

/* Description */
.description {
  font-size: 0.9rem;
  color: var(--product-text-secondary);
  line-height: 1.4;
}

/* Loader */
.loader {
  text-align: center;
  margin-top: 100px;
  font-size: 1.5rem;
  color: var(--product-loader);
}

/* Error */
.error {
  text-align: center;
  margin-top: 100px;
  font-size: 1.2rem;
  color: var(--product-error);
}
.card img{
  height: 250px;
}